html,
body {
  height: 100%;
}
body {
  background-image: getColor(beige);
  display: flex;
  flex-direction: column;
  font-family: $font-primary;
}
footer {
  display: flex;
  justify-content: space-between;
  background-color: getColor(lightbeige);
  flex-shrink: 0;
  padding: 0.5em;
}
.wrapper {
  flex: 1 0 auto;
}
.col-md {
  border: 1px red;
}
